// LEFT BODY-CONTENT===============
.left {
  position: relative;
  flex: 0 0 70%;
  height: 23em;
}
.inputs {
  // .inputs__title
  &__title {
    flex: 0 0 100%;
    margin-bottom: 1em;
    font-weight: 600;
  }
  // .inputs__body
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.6em;
    &:nth-child(2) {
      margin-bottom: 3.3em;
    }
    &:last-child {
      margin: 0;
    }
    & div {
      flex: 0 0 50%;
      vertical-align: middle;
    }
  }
}
// INPUT-PICE============
.input_pice {
  position: absolute;
  opacity: 0;
  top: 4em;
  transition: opacity 0.2s, transform 0.2s;
  margin-left: 50%;
  transform: translateX(15%);
  & .pice_input {
    cursor: default;
    text-align: center;
    margin-left: 1.8em;
    height: 1.5em;
    width: 1.5em;
    border: 1px solid #bcbcb7;
    border-radius: 0.3em;
    color: #00a200;
    font-size: 1.5em;
    &_warning {
      color: #ff7f00;
    }
  }
  & span {
    margin-left: 0.5em;
  }
  //ANIMATION-INPUT!!!!!
  &_active {
    transition: opacity 0.2s, transform 0.2s;
    opacity: 1;
    transform: translateX(0%);
    & input {
      cursor: text;
    }
  }
}
// INPUT-SUM==============
.input-sum {
  & .sum_input {
    color: #00a200;
    margin: 0.1em 0 0 1.8em;
    text-align: center;
    height: 1.5em;
    width: 4.4em;
    border: 1px solid #bcbcb7;
    border-radius: 0.3em;
    font-size: 1.5em;
    &_warning {
      color: #ff7f00;
    }
  }
  & .sum_text {
    color: #00a200;
    font-size: 1.9rem;
    margin-left: 0.3em;
    &_warning {
      color: #ff7f00;
    }
  }
}
